* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Switzer', sans-serif;

}

html {
    scroll-behavior: smooth;
}



:root {
    --main-bg-color: #E5E2DA;
    --submain-bg-color: #f7f6f0;
    --main-button-color: #00a651;
    --main-button-color-hover: #136239;
    --border-bottom-navbar: #7b7a7a3a;
    --main-text-color: #070606;
    --box-become-a-member-color: #027b3c;
}

body {
    background-color: var(--main-bg-color);
}

.navbarWrapper {
    background-color: var(--main-bg-color);
    border-bottom: .1px solid var(--border-bottom-navbar)
}

.navbar {
    max-width: 1800px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    width: 100%;
    height: 100px;
    align-items: center;
    color: var(--main-text-color);
    padding: 0 20px;

    @media (max-width: 646px) {
        height: 200px;

    }


}

.LogoNavbar {
    border-radius: 100%;
    max-width: 80px;
    cursor: pointer;



}

.navbar .ItemsNavbar {
    display: flex;
    margin-left: 100px;

    @media (max-width: 646px) {

        flex-direction: column;


    }
}

.navbar .ItemsNavbar li {
    padding: 0 14px;
    font-weight: 600;
    font-family: 100px;
    cursor: pointer;
    transition: .5s;
    text-decoration: none;


    @media (max-width: 880px) {
        font-size: 12px;
        padding: 0 4px;

    }

    @media (max-width: 646px) {
        font-size: 16px;
        padding: 2px 0;
        text-align: center;


    }
}

.navbar .ItemsNavbar a {
    text-decoration: none;
    color: var(--main-text-color)
}

.navbar .ItemsNavbar li:hover {
    opacity: 0.6;
}

.buttonBecomeAMember {
    background-color: var(--main-button-color);
    border-radius: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 16px;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: .5s;
    font-size: 10px;
    font-weight: 500;

    @media (max-width: 940px) {
        padding: 8px 14px;

    }

    @media (max-width: 900px) {
        padding: 6px 8px;
        font-size: 10px;
    }


    @media (max-width: 680px) {
        display: none;
    }
}

.buttonBecomeAMember a {
    color: var(--submain-bg-color);
}

.buttonBecomeAMember:hover {
    background-color: var(--main-button-color-hover);
}

.theRenewableFutureSectionWrapper {
    background-color: var(--main-bg-color);
}

#theRenewableFutureSection {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.firstContent {
    text-align: center;
}

.firstContent .imageTheRenewableFuture {
    max-width: 400px;

    @media (max-width: 500px) {
        max-width: 260px;
    }
}

.firstContent h1 {

    font-weight: 700;
    word-spacing: 10px;
    letter-spacing: 4px;
    font-size: 80px;
    background: rgb(76, 175, 80);
    background: linear-gradient(90deg, rgba(76, 175, 80, 1) 8%, rgba(255, 152, 0, 1) 51%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: transparent;



    @media (max-width: 646px) {
        font-size: 60px;
    }


    @media (max-width: 482px) {
        font-size: 40px;
    }
}

.firstContent h2 {
    font-size: 20px;
    letter-spacing: 1px;
    opacity: 0.9;
    font-weight: 400;
    padding: 16px 0 40px 0;

    @media (max-width: 646px) {
        font-size: 16px;
    }


    @media (max-width: 482px) {
        font-size: 14px;
    }



}

.SecondContent {
    display: flex;
    justify-content: space-around;

    gap: 50px;
    padding: 50px 20px 0 20px;
}

.SecondContent p {
    max-width: 500px;
    line-height: 25px;
    font-size: 18px;
    padding-bottom: 40px;

    @media (max-width: 646px) {
        text-align: center;

    }

    @media (max-width: 482px) {
        text-align: center;
        font-size: 16px;
    }
}


.renewableEnergyWrapper {
    background-color: var(--submain-bg-color)
}

#renewableEnergy {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 50px 0;

}

.listOfRenewableEnergy {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;


}

#renewableEnergy h1 {
    font-size: 60px;
    background: rgb(76, 175, 80);
    background: linear-gradient(90deg, rgba(76, 175, 80, 1) 8%, rgba(255, 152, 0, 1) 51%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    padding-bottom: 40px;
    padding: 0 10px 40px 10px;

    @media (max-width: 646px) {
        font-size: 40px;
        padding: 20px 0;
    }


    @media (max-width: 482px) {
        font-size: 30px;
    }
}







.genericDivForTopicsRenewableEnergy {

    display: flex;
    align-items: center;





}

.genericDivForTopicsRenewableEnergy p {
    @media (max-width: 1200px) {
        font-size: 14px !important;

    }
}

.genericDivForTopicsRenewableEnergy h3 {
    @media (max-width: 1200px) {
        font-size: 24px !important;

    }
}


.genericDivForTopicsRenewableEnergy h3 {
    padding-bottom: 2px;
    font-size: 34px;
}

.genericDivForTopicsRenewableEnergy p {

    font-size: 24px;

}

.renewableEnergyTexts {
    max-width: 800px;

}



.genericDivForTopicsRenewableEnergy p {
    opacity: 0.9;

}

.sunenergyicon {
    transition: .4s;
    cursor: pointer;
}

.sunenergyicon:hover {
    transform: scale(1.1);
}

.windenergyicon {
    transition: .4s;
    cursor: pointer;
}

.windenergyicon:hover {
    transform: scale(1.1);
}

.hydroeletricenergyicon {
    transition: .4s;
    cursor: pointer;
}

.hydroeletricenergyicon:hover {
    transform: scale(1.1);
}



.geothermalicon {
    transition: .4s;
    cursor: pointer;
}

.geothermalicon:hover {
    transform: scale(1.1);
}

.waveandtidalenergyicon {
    transition: .4s;
    cursor: pointer;
}

.waveandtidalenergyicon:hover {
    transform: scale(1.1);
}

.sustainableenergyfortransporticon {
    transition: .4s;
    cursor: pointer;
}

.sustainableenergyfortransporticon:hover {
    transform: scale(1.1);
}

#sunEnergy {
    flex-direction: row;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
        flex-direction: column;
        text-align: center;

    }
}


#sunEnergy p, #sunEnergy h3 {
    padding-left: 40px;

    @media (max-width: 1200px) {
        padding-left: 0px;
    }
}


#windEnergy {
    flex-direction: row-reverse;

    @media (max-width: 1200px) {
        flex-direction: column;
        text-align: center;
    }
}



#hydroEletricEnergy {
    flex-direction: row;

    @media (max-width: 1200px) {
        flex-direction: column;
        text-align: center;
    }
}

#hydroEletricEnergy p, #hydroEletricEnergy h3 {
    padding-left: 40px;

    @media (max-width: 1200px) {
        padding-left: 0px;
    }

}

#geoThermalEnergy {
    flex-direction: row-reverse;

    @media (max-width: 1200px) {
        flex-direction: column;
        text-align: center;
    }
}



#waveAndTidalEnergy {
    flex-direction: row;

    @media (max-width: 1200px) {
        flex-direction: column;
        text-align: center;
    }
}

#waveAndTidalEnergy p, #waveAndTidalEnergy h3 {
    padding-left: 40px;

    @media (max-width: 1200px) {
        padding-left: 0px;
    }

}

#sustainableEnergyForTransportEnergy {
    flex-direction: row-reverse;

    @media (max-width: 1200px) {
        flex-direction: column;
        text-align: center;
    }
}




.whoWeAreWrapper {
    background-color: var(--main-bg-color);
}

#whoWeAre {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

#whoWeAre h1 {
    font-size: 40px;
    background: rgb(76, 175, 80);
    background: linear-gradient(90deg, rgba(76, 175, 80, 1) 8%, rgba(255, 152, 0, 1) 51%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin-bottom: 20px;

    @media (max-width: 646px) {
        font-size: 40px;
        padding: 20px 0;
    }


    @media (max-width: 482px) {
        font-size: 30px;
    }
}

#whoWeAre h2 {
    padding: 10px 0;
}

#whoWeAre p {
    max-width: 400px;
    opacity: 0.9;

    @media (max-width: 646px) {
        font-size: 14px;
        padding: 20px 0;
        text-align: center;
    }


    @media (max-width: 482px) {
        font-size: 12px;
        text-align: center;
    }
}

.aboutMePeople {
    border-radius: 100%;
    object-fit: cover;
}

.becomeAMemberWrapper {
    background-color: var(--submain-bg-color);

}

#becomeAMember {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    margin: 0 auto;

}

#becomeAMember h1 {
    font-size: 40px;
    background: rgb(76, 175, 80);
    background: linear-gradient(90deg, rgba(76, 175, 80, 1) 8%, rgba(255, 152, 0, 1) 51%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin-bottom: 20px;

    @media (max-width: 646px) {
        font-size: 40px;
        padding: 20px 0;
    }


    @media (max-width: 482px) {
        font-size: 30px;
    }
}

#becomeAMember p {
    opacity: 0.9;
    text-align: center;
    max-width: 400px;
    padding-bottom: 20px;

    @media (max-width: 646px) {
        font-size: 14px;
        padding: 20px 0;
        text-align: center;
    }


    @media (max-width: 482px) {
        font-size: 12px;
        text-align: center;
    }

}

.becomeAMemberBox {
    width: 1200px;


    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contactUsWrapper {
    background-color: var(--main-bg-color);
    border-bottom: .1px solid var(--border-bottom-navbar)
}

#contactUs {
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    margin: 0 auto;



}


#contactUs h1 {
    font-size: 40px;
    background: rgb(76, 175, 80);
    background: linear-gradient(90deg, rgba(76, 175, 80, 1) 8%, rgba(255, 152, 0, 1) 51%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin-bottom: 20px;

    @media (max-width: 646px) {
        font-size: 40px;
        padding: 20px 0;
    }


    @media (max-width: 482px) {
        font-size: 30px;
    }

}


#contactUs p {
    opacity: 0.9;
    max-width: 400px;
    text-align: center;
    margin-bottom: 20px;

    @media (max-width: 646px) {
        font-size: 14px;
        padding: 20px 0;
        text-align: center;
    }


    @media (max-width: 482px) {
        font-size: 12px;
        text-align: center;
    }
}

.defaultForm {
    display: flex;
    flex-direction: column;
}



.defaultForm input {
    border-radius: 10px;
    border: none;
    outline: none;
    width: 300px;
    height: 30px;
    padding-left: 10px
}

.defaultForm textarea {
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    padding: 8px;
}

#submitContact {
    background-color: var(--main-button-color);
    border-radius: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: .5s;
    font-size: 10px;
    font-weight: 500;

    @media (max-width: 940px) {
        padding: 8px 14px;

    }

    @media (max-width: 900px) {
        padding: 6px 8px;
        font-size: 10px;
    }



}

#submitContact:hover {
    background-color: var(--main-button-color-hover);
}


.footerWrapper {
    background-color: var(--submain-bg-color);
}

.footer {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;


    @media (max-width: 646px) {

        flex-direction: column;
        height: 200px;

    }



    @media (max-width: 880px) {
        font-size: 12px;
        padding: 0 4px;


    }

    @media (max-width: 500px) {

        height: 300px;
        text-align: center;


    }



}

.footer ul {
    display: flex;

    @media (max-width: 500px) {

        flex-direction: column;


    }
}

.footer li {
    padding: 0 10px;

    cursor: pointer;
    transition: .5s;

    @media (max-width: 500px) {
        font-size: 20px;
        flex-direction: column;
        font-size: 16px;
        padding: 2px 0;

    }



}


.LogoFooter {
    border-radius: 100%;
    max-width: 80px;
    cursor: pointer;

    @media (max-width: 646px) {
        padding: 6px 0;
    }
}

.footer a {
    color: var(--main-text-color);
}

.footer li:hover {
    opacity: 0.6;
}

.socialMediaIcons {
    align-items: center;
    display: flex;
}


.loginFormWrapper {
    background-color: var(--main-bg-color);
}

.loginForm {
    max-width: 1400px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 40px;
}

.loginForm h1 {
    font-size: 40px;
    background: rgb(76, 175, 80);
    background: linear-gradient(90deg, rgba(76, 175, 80, 1) 8%, rgba(255, 152, 0, 1) 51%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    padding-bottom: 40px;
    padding: 0 10px 8px 10px;

    @media (max-width: 646px) {
        font-size: 40px;
        padding: 20px 0;
    }


    @media (max-width: 482px) {
        font-size: 30px;
    }
}



#loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
}

#loginForm select {
    border-radius: 10px;
    border: none;
    outline: none;
    width: 300px;
    padding: 4px 8px;
}

#buttonRegister {
    margin-top: 20px;

}

#loginForm label {
    margin-bottom: 6px;
    opacity: 0.9;
}

#loginForm input {
    margin-bottom: 18px;
}

.forgetYourPassword {
    margin-bottom: 8px;
}